/** The class of the current footer tab */
[so-tab-focus="so-selected-tab"] {
  /* XXX Change the background gradient, rather than the text color!
         (And maybe also the icon color, but just the icon color isn't
         enough, since the icon isn't visible in some compact layouts. */
  color: orange !important;
}
#depth-path-popup {
 min-width: 300px;
}

/* Center elements, using <div class="center-wrapper"> stuff to center </div> */
/* From http://stackoverflow.com/a/4396545 */
.center-wrapper { text-align: center; }
.center-wrapper * { margin: 0 auto; }

/* We use ui-li-count to get the settings value near the arrow, but have to
   override some of the indirect effect, like border: */
.so-listview-value {
  border: 0px solid #ccc !important;
}

.header-title > .ui-btn {
  margin: 0;
}
.ui-header > .ui-btn {
  margin-top: .1em !important;
}
.header-title .ui-btn-inner {
  border-color: transparent;
}
.header-title .ui-shadow {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.ui-header .ui-btn-icon-left .ui-btn-inner,
.ui-header .ui-btn-icon-right .ui-btn-inner {
  padding-left: 20px !important;
}
.ui-header .ui-btn-left, .ui-header .ui-btn-right,
.ui-header .ui-btn-icon-notext {
  position: absolute;
  top: 8px !important;
}

/* Use a smaller font in the header for narrow displays: */
@media (max-width: 400px) {
  [data-role="header"] .ui-btn-inner {
    font-size: small;
  }
}
@media (min-width: 401px) {
  .header-title-text {
    font-size: medium;
  }
}
/* Elide the back button, per a width set in width-dependent sections, below. */
[data-role="header"] .ui-btn-inner, .header-title-text {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  -o-text-overflow: ellipsis;
}

@media (max-width: 500px) {
  [data-role="header"] .ui-btn-inner {
    max-width: 6.5em !important; }
}
@media (min-width: 501px) and (max-width: 600px) {
  [data-role="header"] .ui-btn-inner {
    max-width: 10em !important; }
}
@media (min-width: 601px) and (max-width: 800px) {
  [data-role="header"] .ui-btn-inner {
    max-width: 14em !important; }
}
@media (min-width: 701px) and (max-width: 1000px) {
  [data-role="header"] .ui-btn-inner {
    max-width: 20em !important; }
}
@media (min-width: 1001px) and (max-width: 1200px) {
  [data-role="header"] .ui-btn-inner {
    max-width: 300em !important; }
}
@media (min-width: 1200px) {
  [data-role="header"] .ui-btn-inner {
    max-width: 30em !important;
  }
}
@media (min-height: 600px) {
  [data-role="footer"] .ui-btn {
    height: 58px;
  }
  [data-role="footer"] .ui-navbar li .ui-btn-icon-top .ui-btn-inner {
    padding-top: 40px;
  }
  .header-title .ui-btn-icon-right .ui-icon {
    margin-right: 5px !important;
    margin-left: 5px !important;
    padding-left: 2px !important;
  }
  .ui-header .ui-btn-icon-left .ui-icon {
    left: 2px !important;
  }
}
@media (max-height: 600px) {
  [data-role="footer"] .ui-btn {
    height: 2em; }
  [data-role="footer"] .ui-navbar li .ui-btn-icon-top .ui-btn-inner {
    padding-top: .6em; }
  [data-role="footer"] .ui-icon {
    display: none !important; }
}

[data-role=footer] .ui-icon {
  width: 36px !important;
  height: 36px !important;
  margin-left: -18px !important; }
.form-icon {
  width: 2em;
  height: 2em;
  vertical-align: top;
  margin-right: 15px;
  margin-left: -10px
}

.header-title .so-image-icon {
  margin-right: 3px;
  margin-left: -5px;
  vertical-align: top;
}
.so-image-icon {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
.ui-li-icon {
  margin-left: 10px;
}
.message-subject {
  font-style: italic;
}

.status-message {
  margin-bottom: -1em !important;
  font-weight: lighter !important;
/*  text-align: center !important; */
}
.error-status-message {
  color: firebrick !important;
}
.result-status-message {
  color: darkgreen !important;
}

[data-role="content"] > .spiel {
  margin-top: -1em !important;
}
[data-role="collapsible"].spiel {
  margin-top: -1em !important;
  margin-bottom: -1em !important;
  margin-right: -1em !important;
  margin-left: -1em !important;
}
.spiel-columns {
  column-width: 20em;
  -webkit-column-width: 20em;
  -moz-column-width: 20em;
}

.crushed-vertical {
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}
.compact-vertical {
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}

.my-popup-title {
  margin: 8px 1em 8px 1em !important;
}

.ui-popup-container {
  /* So popups aren't unnecessarily big */
  width: auto !important;
  min-height: 1em !important;
}

.subdued {
  color: gray;
  font-size: small;
}

.multiple-listviews .ui-content .ui-listview {
  /* Independently derived workaround for multiple-listviews spacing problem:
     https://github.com/jquery/jquery-mobile/issues/1204 */
  margin: -1px -15px -1px -15px !important;
}
/* I couldn't get .multiple-listviews right on the items, so I use this to
   compensate in the login form.  Argh. */
.compact-paragraph {
  margin: 10px; }

.empty-sign {
  color: gray !important;
}
