#depth-path-popup {
 min-width: 300px;
}

[data-role=header] .header-title {
  border-right: 3px solid;
  border-top: 1px solid;
  border-left: 3px solid;
  border-bottom: 1px solid;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  cursor: context-menu;
}
[data-role=footer] .ui-icon {
  width: 36px !important;
  height: 36px !important;
  margin-left: -18px !important; }
.form-icon {
  width: 2em;
  height: 2em;
  vertical-align: top;
  margin-right: 15px;
  margin-left: -10px
}

[data-role=header] .header-title[data-theme=c] {
  /* Mostly white */
  border-color:  rgba(192,192,192,.2); }
.header-title .so-image-icon {
  margin-right: 8px;
  vertical-align: middle;
}
.so-image-icon {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
.ui-li-icon {
  margin-left: 10px;
}

.message-subject {
  font-style: italic;
}

[data-role=header] .header-title[data-theme=f] {
   /* Orange - index.html */
  border-color:  rgba(252,142,32,.2); }
[data-role=header] .header-title[data-theme=g] {
  /* Blue-gray - SpiderOak_neutral.html */
  border-color:  rgba(51,76,102,.2); }
[data-role=header] .header-title[data-theme=h] {
  /* Green (vibrant) - SpiderOak_green.html */
  border-color:  rgba(0,169,157,.2); }
[data-role=header] .header-title[data-theme=i] {
  /* Blue (vibrant) - SpiderOak_blue.html */
  border-color:  rgba(0,169,157,.2); }
[data-role=header] .header-title[data-theme=e] {
  /* Yellow */
  border-color:  rgba(244,198,63,.2); }

.status-message {
  margin-bottom: -1em !important;
  font-weight: lighter !important;
/*  text-align: center !important; */
}
.error-status-message {
  color: firebrick !important;
}
.result-status-message {
  color: darkgreen !important;
}

[data-role="content"] > .spiel {
  margin-top: -1em !important;
}
[data-role="collapsible"].spiel {
  margin-top: -1em !important;
  margin-bottom: -1em !important;
  margin-right: -1em !important;
  margin-left: -1em !important;
}
.spiel-columns {
  column-width: 20em;
  -webkit-column-width: 20em;
  -moz-column-width: 20em;
}

.crushed-vertical {
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}
.compact-vertical {
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}

.my-popup-title {
  margin: 8px 1em 8px 1em !important;
}

.ui-popup-container {
  /* So popups aren't unnecessarily big */
  width: auto !important;
  min-height: 1em !important;
}

.subdued {
  color: gray;
  font-size: small;
}

.multiple-listviews .ui-content .ui-listview {
  /* Independently derived workaround for multiple-listviews spacing problem:
     https://github.com/jquery/jquery-mobile/issues/1204 */
  margin: -1px -15px -1px -15px !important;
}
/* I couldn't get .multiple-listviews right on the items, so I use this to
   compensate in the login form.  Argh. */
.compact-paragraph {
  margin: 10px; }

.empty-sign {
  color: gray !important;
}
