[data-role=header] {
/*  cursor: context-menu; */
}
[data-role=header] .header-title {
}

.status-message {
  margin-bottom: -1em !important;
  font-weight: lighter !important;
/*  text-align: center !important; */
}
.error-status-message {
  color: firebrick !important;
}
.result-status-message {
  color: darkgreen !important;
}

.crushed-vertical {
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}
.compact-vertical {
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}

.my-popup-title {
  margin: 8px 1em 8px 1em !important;
}

.ui-popup-container {
  /* So popups aren't unnecessarily big */
  width: auto !important;
  min-height: 1em !important;
}

.subdued {
  color: gray;
}

.multiple-listviews .ui-content .ui-listview {
  /* Independently derived workaround for multiple-listviews spacing problem:
     https://github.com/jquery/jquery-mobile/issues/1204 */
  margin: -1px -15px -1px -15px !important;
}
/* I couldn't get .multiple-listviews right on the items, so I use this to
   compensate in the login form.  Argh. */
.compact-paragraph {
  margin: 10px; }

.empty-sign {
  color: gray !important;
}
